* {
	font-family: FontAwesome;
}
#map-container {
	height: 500px;
	border: 1px solid #000;
}

#map_canvas, #map-canvas {
	display: block;
	height: 500px;
	width: 100%;
}

#map_canvas img, #map-canvas img {
	max-width: none;
}

#main {
	margin-top: 50px;
}

.form-horizontal .control-label {
	font-weight: bold;
	padding-top: 0;
}

.control-label .icon-bookmark .text {
	font-weight: bold;
	color: #08c;
}

#nearby-container {
	height: 500px;
	overflow-y: scroll;
}

#clients td {
	vertical-align: middle;
}

.last-analysis {
	font-style: italic;
	font-color: #333;
	font-size: 90%;
}

.phone-number {
	font-size: 85%;
}

.ui-pnotify.stack-bar-top {
	right: 0;
	top: 0;
	margin-left: 35%;
}

.tooltip {
	z-index: 1600;
}