#map-container {
	height: 500px;
	border: 1px solid #000;
}

#map_canvas, #map-canvas {
	display: block;
	height: 500px;
	width: 100%;
}

#map_canvas img, #map-canvas img {
	max-width: none;
}

#main {
	margin-top: 50px;
}

.form-horizontal .control-label {
	padding-top: 0;
	font-weight: bold;
}

#nearby-container {
	height: 500px;
	overflow-y: scroll;
}

#clients td {
	vertical-align: middle;
}